  
  .jumbo {
    text-align: left;
    height: 900px;
    background-image: linear-gradient(to top,#D90A64, #DF4623);
    margin-top: 1%;   
    margin-left: 0.2%;  
    margin-right:0.2%;    
    
  }
  .tx {
    padding-top: 30%;
  }
